body {
    margin: 0px;
    display: grid;
}

.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #30260c;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
}

.var-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

/*Banner*/
.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.pinimg.com/originals/ca/6a/77/ca6a77db6905983e54bb27ff37068d39.jpg)
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    margin: 0;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: #ffffff;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.shop-counter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    padding: 1rem;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card > img {
    width: 100%;
    height: 600px;
}

.price {
    color: #0004e4;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.modelo-conteiner {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #ffffff;
    background-color: #465858;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modelo-conteiner::-webkit-scrollbar {
    display: none;
}
.modelo-header {
    display: flex;
    justify-content: space-around;
    background-color: #549fbd;
    color: #ffffff;
    width: 100%;
}

.modelo-header-titulo {
    justify-self: start;
}

.modelo-header-button {
    cursor: pointer;
}

.modelo-conteiner > .modelo-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modelo-conteiner > div > img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product {
    cursor: pointer;
}

.cantidades-carrito {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}

.sumar{
    cursor: pointer;
}

.restar{
    cursor: pointer;
}

/*Carrousel*/

.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 576px;
    width: 1134px;
    border-radius: 15px ;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3{
    text-shadow: 0px 0px 15px black;
    padding-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.texto p{
    align-items: center;
    padding: 20px;
    color:white;
    font-size: 0px;
    font-weight: 300;
}

.fotos .texto{
    width: 600px;
    height: 100px;
    transition: 1s;
}

.fotos:hover .texto{
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.fotos:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;
    text-shadow: 0px 0px 10px #000000;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #5E17EB ;
}

#adelante{
    width: 50px;
}

#atras {
    width: 50px;
}

.vaciar-carrito{
    padding: 30px;
    text-align: center;
    font-size: 2rem;
}